@{
    ViewData["Title"] = "Inicio";
}

    <div class="container text-center">

        <br />
        <br />
        <br />

        <h4>Secretaria de Desarrollo Rural</h4>
        <h4>Sistema de control y seguimiento de Correspondencia</h4>

        <br />
        <br />
        <div data-spy="scroll">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">Enviado</th>
                            <th scope="col">Dirección destino</th>
                            <th scope="col">Firmante</th>
                            <th scope="col">Dirección Firmante</th>
                            <th scope="col">Puesto Firmante</th>
                            <th scope="col">Tipo de documento</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Documento fisico</th>
                            <th scope="col">Fecha captura</th>
                            <th scope="col">Visualizar</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var document in ViewBag.Documents)
                        {

                            <tr>
                                <td>@document.TURNADO</td>
                                <td>@document.DESTINO</td>
                                <td>@document.FIRMANTE</td>
                                <td>@document.ORIGEN</td>
                                <td>@document.CARGO</td>
                                <td>@document.TIPO</td>
                                <td>@document.ESTADO</td>
                                <td>@document.COPIA_FISICA</td>
                                <td>@document.FECHA_CAPTURA</td>
                                <td><button type="button" class="btn btn-primary detail" data-toggle="modal" data-id="@document.ID_DOCUMENTO" data-target="#exampleModal">Ver</button></td>
                            </tr>
                        }
                    </tbody>

                </table>
        </div>
        
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Documento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/Home/Home" method="post">
                        <div class="modal-body">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="d-flex justify-content-center">
                                            <label>Imagen</label>
                                        </div>

                                        <img class="img-fluid " id="IMAGEN" style="max-width: 300px;" src="" />
                                    </div>
                                    <div class="col-8">
                                        <div class="d-flex ">
                                            <label class="col-4">Folio</label>
                                            <label class="col-4">Fecha Captura</label>
                                            <label class="col-4">Estado</label>

                                        </div>
                                        <div class="form-group d-flex justify-content-around">

                                            <input type="text" id="FOLIO" name="FOLIO" class="form-control col-4" value="">

                                            <input type="text" id="FECHA" name="FECHA" class="form-control col-4 ml-2 mr-2" value="">

                                            <input type="text" id="ESTADO" name="ESTADO" class="form-control col-4" value="">

                                        </div>
                                        <div class="d-flex ">
                                            <label class="col-4">Nombre</label>
                                            <label class="col-4">Correo</label>
                                            <label class="col-4">Direccion</label>

                                        </div>
                                        <div class="form-group d-flex justify-content-around">
                                            <input type="text" id="NOMBRE" name="NOMBRE" class="form-control col-4" value="">

                                            <input type="text" id="CORREO" name="CORREO" class="form-control col-4 ml-2 mr-2" value="">

                                            <input type="text" id="DIRECCION" name="DIRECCION" class="form-control col-4" value="">

                                        </div>
                                        <div class="d-flex ">
                                            <label class="col-4">Origen</label>
                                            <label class="col-4">Cargo</label>
                                            <label class="col-4">Tipo de Documento</label>
                                            
                                        </div>
                                        <div class="form-group d-flex justify-content-around">

                                            <input type="text" id="ORIGEN" name="ORIGEN" class="form-control col-4" value="">
                                            <input type="text" id="CARGO" name="CARGO" class="form-control col-4 ml-2 mr-2" value="">
                                            <input type="text" id="TIPO" name="TIPO" class="form-control col-4 " value="">



                                        </div>
                                        <div class="d-flex ">
                                            <label class="col-4">Telefono</label>
                                            <label class="ml-5">Copia Fisica</label>
                                        </div>
                                        <div class="form-group d-flex ">
                                            <input type="text" id="TELEFONO" name="TELEFONO" class="form-control" style="max-width: 235px;" value="">
                                            <input type="text" id="COPIA" name="COPIA" class="form-control ml-2" style="max-width: 100px;" value="">

                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <textarea class="form-control text-center" id="RESUMEN" name="RESUMEN"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group text-center">
                                            <textarea class="form-control" id="RESPUESTA" name="RESPUESTA"></textarea>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <input class="btn btn-primary" type="submit" value="Guardar Cambios" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>