@{
    ViewData["Title"] = "Inicio";
}

    <div class="container text-center">

        <br />
        <br />
        <br />

        <h4>Secretaria de Desarrollo Rural</h4>
        <h4>Sistema de control y seguimiento de Correspondencia</h4>

        <br />
        <br />
        <div data-spy="scroll">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Enviado</th>
                        <th scope="col">Dirección destino</th>
                        <th scope="col">Remitente</th>
                        <th scope="col">Dirección remitente</th>
                        <th scope="col">Puesto remitente</th>
                        <th scope="col">Tipo de documento</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Documento fisico</th>
                        <th scope="col">Fecha captura</th>
                        <th scope="col">Visualizar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var document in ViewBag.Documents)
                    {
                    <tr>
                        <td>@document.TURNADO</td>    
                        <td>@document.DESTINO</td>
                        <td>@document.FIRMANTE</td>
                        <td>@document.ORIGEN</td>
                        <td>@document.CARGO</td>
                        <td>@document.TIPO</td>                              
                        <td>@document.ESTADO</td>
                        <td>@document.COPIA_FISICA</td>                      
                        <td>@document.FECHA_CAPTURA</td>
                        <td>Ver</td>                                         
                    </tr>
                    }                                                        
                </tbody>                                                     
            </table>
        </div>
    </div>