@{
    ViewData["Title"] = "Agregar Documento";
}

<br />
<br />

<div class="container ">

    <div class="card col-md-7 mx-auto">

        <div class="card-header text-center border">
            <h1 class="">Documento</h1>
        </div>
        <div class="card-body justify-content-around">
            <form action="/Documents/AddDoc" method="post" enctype="multipart/form-data">
                <div class="row ">
                    <div class="col-md-7 flex-column">
                        <p>No. Oficio</p>
                        <input class="form-control" name="FOLIO" type="text" />
                        <br />
                        <p>Documento</p>
                        <div class="custom-file">
                            <input type="file" name="files" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                        <br />
                        <br />
                        <p>Tipo de documento</p>
                        <select class="form-control" id="FileType" name="TYPE">
                            <option selected></option>
                            @foreach (var doctype in ViewBag.DocTypes)
                            {
                                <option value="@doctype.ID_TIPO">@doctype.TIPO</option>
                            }
                        </select>
                        <br />
                        <p>Destinatario</p>
                        <select class="form-control" id="Address" name="DESTINATARIO">
                            <option selected></option>
                            @foreach (var docDestination in ViewBag.DocDestination)
                            {
                                <option value="@docDestination.ID_DIRECCION">@docDestination.NOMBRE</option>
                            }
                        </select>
                        <br />
                        <p>Firmante</p>
                        <select class="form-control" id="Signatory" name="REMITENTE">
                            <option selected></option>
                            @foreach (var docSignatory in ViewBag.DocSignatories)
                            {
                                <option value="@docSignatory.ID_REMITENTE">@docSignatory.NOMBRE</option>
                            }

                        </select>
                    </div>
                    <div class="col-md-5 flex-column">
                        <p>Resumen</p>
                        <textarea class="form-control" name="RESUMEN" rows="15" cols="20"></textarea>
                        <input class="btn btn-primary btn-block mt-3" type="submit" value="Save" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>